html{
  height: 100%;
}
body { background: #0f0f0f;height: 100%; }


/* ------------------------------------------------------------------ */
/* b. Intro Styles
/* ------------------------------------------------------------------ */

#intro {
   position: relative;
   height: 100%; 
   width: 100%;
   background: #161415 url(../images/header-background.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;   
}

   
/* display toggle buttons */
.no-js #nav-wrap:not( :target ) > a:first-of-type,
.no-js #nav-wrap:target > a:last-of-type  {
   display: block;
} 
.js #nav-wrap a { display: block; }  

/* display menu panels - no JS*/
.no-js #nav-wrap:target > ul#nav  {
   display: block;           
}

/* Main 
------------------------------------------------------------------ */
#main {
	
	text-align: center;	
}
#main h1 {
	font: 42px/1.2em 'montserrat-bold', sans-serif;	
	color: #fff;
	margin-bottom: 18px;	
	padding: 0 10%;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);	
}
#main p {	
	font: 16px/33px 'montserrat-regular', sans-serif;
	color: #fff;
	margin-bottom: 18px;
	padding: 0 18%;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
}
#main h5 {
	font: 13px/24px 'montserrat-bold', sans-serif;
	color: #1F782F;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);	
}

/* counter */
#main #counter {
	width: 75%;
	color: #fff;
	text-align: center;
	margin: 18px auto 0;
}
#main #counter span {
	font: 70px/1em 'merriweather-bold', serif;
	display: block;
	padding: 12px 0 30px;
	min-width: 25%;
	float: left;	
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);	
	border-left: 1px dotted rgba(255, 255, 255, .2);	
}
#main #counter span:first-child { border-left: none; }
#main #counter span em {
	font: 11px/18px 'montserrat-regular', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: 12px;	
	display: block;
	color: #BCBCBC;
	color: rgba(255, 255, 255,.6);
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);	
}
